/* timetable.css (or use a CSS-in-JS solution) */

.timetable {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #088178;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #088178;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f0f0f0;
}

tr:hover {
  background-color: #ddd;
}
